*{
    margin: 0;
    padding: 0;

}

header{
    background-color: #f1f49f;
    color: #1c05f1;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

main{
    background-color: #fff;
    color: #183c63;
    max-width: 800px;
    margin: 0 auto;
}
